.hero.is-fullheight.Article2 {
    background-image: url(/img/Acceuil/Article2.jpg);
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    top: 0;
    left: 0;
}